# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
*.pyc

# sublime project
*.sublime-project
*.sublime-workspace

# Virtual environment
Include
Lib
Scripts
tcl

blog
courses
media
db.sqlite3
