{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col">
	<h1 class="font-weight-normal d-inline">About</h1>
	<h3 class="font-weight-normal mt-2 mb-4">What is Food Delivery?</h3>
	<p class="text-left">Food Delivery is a web-project developed by a team of students at Samara University.</p>
	<p class="text-left">This project is focused on food delivery. Our goal is to make a website which would make process of buying food simple and enjoyable.</p>

	</div>
</div>
{% endblock %}
