
body {
     background:linear-gradient(to left, rgba(221, 213, 255, 0.51), rgba(231, 254, 228, 0.5)), url(bg.jpg);
}

.container {
    background:#ffffffd6;
    padding-bottom: 15px;
}

.gradColor_green_blue {
    background: linear-gradient(to right, #e8ffe4, #d4fdff);
}

.gradColor_blue_purple{
    background: linear-gradient(to right, #d4fdff, #e4e9ff);
}

.gradColor_green_green{
    background: linear-gradient(to right, #ddffd4, #e0feee);
}

.logreg_button {
    background: #ffffff40;
    border: 1px solid #afafaf;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.logreg_button:hover{
    text-decoration: none;
    background: #ffffff;
    color:black;
}

.navbar_button{
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar_button:hover{
    background:#fff;
}

.block_with_shadow{
    -webkit-box-shadow: 3px 4px 14px -2px rgba(126, 224, 208, 0.35);
    -moz-box-shadow: 3px 4px 14px -2px rgba(126, 224, 208, 0.35);
    box-shadow: 3px 4px 14px -2px rgba(126, 224, 208, 0.35);
}

.action_button{
    border: 1px solid #afafaf;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: background-color 0.25s ease;
}

.action_button_blue{
    background: #d4f5ff;
}

.action_button_blue:hover{
    background: #e7ffe5;
}

.action_button_green{
    background: #e7ffe5;
}

.action_button_green:hover{
    background: #d4f5ff;
}

