{% extends 'base.html' %}
{% load poll_extras %}
{% block content %}

<div class="row">
  <div class="col col-lg-3 nopadding">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action" id="category0" href="{% url 'products:product-category' categoryId=0 %}" role="tab" >All</a>
      <a class="list-group-item list-group-item-action" id="category1" href="{% url 'products:product-category' categoryId=1 %}" role="tab" >Naggets</a>
      <a class="list-group-item list-group-item-action" id="category2"  href="{% url 'products:product-category' categoryId=2 %}" role="tab" >Burgers</a>
      <a class="list-group-item list-group-item-action" id="category3"  href="{% url 'products:product-category' categoryId=3 %}" role="tab" >Fries</a>
    </div>
  </div>
  <script>
    $("#category"+"{{ categoryID }}").addClass("gradColor_green_green");
  </script>


  <div class="col">
    {% for instance in object_list %}
      {% if instance.featured %}
      <div style="width:15em;" class="card  mb-3 mr-3 float-left block_with_shadow">
          <a href="{% url 'products:product-detail' id=instance.id %}">
        <img src="{{ instance.image.url }}" class="card-img" title="{{ instance.description }}">
              </a>
        <div class="card-body">
          <h5 class="card-title"> {{ instance.title }}</h5>
          <div class="card-text">
            <p class="float-left">Price: ${{ instance.price }}</p>
            <button type="button" class="float-right btn btn-light  rounded-0">Add</button>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
